NID_AUT=NID_AUT cookie value
NID_SES=NID_SES cookie value

CURRENT_USER_ID=id of user that current logged in with NID_AUT and NID_SES (ex: 5e1fca3b495440342ddc82182b1e36fe)

NAVER_ID=your naver id
NAVER_PW=your naver pw

CHROMEDRIVER=your chromedriver path